@font-face {
    font-family: 'MyFont';
    src: url('../fonts/KYArCgIiEOBY.woff2') format('woff2'),
         url('../fonts/KYArCgIiEOBY.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }